[submodule "site-lisp/twilight"]
	path = site-lisp/twilight
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "site-lisp/twit"]
	path = site-lisp/twit
	url = git://github.com/peccu/twit.el.git
