[submodule "site-lisp/package"]
	path = site-lisp/package
	url = git://github.com/technomancy/package.el.git
[submodule "site-lisp/packages/el-get"]
	path = site-lisp/packages/el-get
	url = git://github.com/dimitri/el-get.git
