[submodule "site-lisp/twilight"]
	path = site-lisp/twilight
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "site-lisp/twit"]
	path = site-lisp/twit
	url = git://github.com/peccu/twit.el.git
[submodule "site-lisp/color-theme-zen-and-art"]
	path = site-lisp/color-theme-zen-and-art
	url = git://github.com/irfn/zen-and-art.git
[submodule "site-lisp/color-theme-ir-black"]
	path = site-lisp/color-theme-ir-black
	url = git://github.com/burke/color-theme-ir-black.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "site-snippets/yasnippet-org-mode/org-mode"]
	path = site-snippets/yasnippet-org-mode/org-mode
	url = git://github.com/RickMoynihan/yasnippet-org-mode.git
[submodule "site-snippets/yasnippet-licenses/text-mode"]
	path = site-snippets/yasnippet-licenses/text-mode
	url = git://github.com/adulteratedjedi/yasnippet-licenses.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "site-lisp/package"]
	path = site-lisp/package
	url = git://github.com/technomancy/package.el.git
